<div class="font-weight-bold page-info"> Your Posts
</div>
{{#each posts as |post|}}
 
  <div class='card mb-6'>
    <header class='card-header card-header-title has-background-grey-lighter'>

      <div class='column'>
        <a
          href='/post/{{post.id}}'
          class='has-text-black is-capitalized is-pulled-left'
        >{{post.title}} </a>
       <a href="/dashboard/edit/{{post.id}}"><button class="btn border-primary edit-button">Edit Post</button></a>
      </div>
     
    </header>
       <div class='card mb-6'>
        {{post.post_text}}
        </div>

     <div class="comment-box">
      <h2>Comments: {{post.comments.length}}</h2>

      {{#if post.comments.length}}

      {{#each post.comments as |comment|}}
      <div class="comment">
        <div class="comment-user">
          <h3>User: {{comment.user.name}}</h3>
           <div class="comment-text">
          <h4>Comment: {{comment.comment_content}}</h4>
        </div>

        </div>
        <h4>{{format_date comment.createdAt}}</h4>
      </div>
      {{/each}}
      {{/if}}
    </div>
  
{{/each}}
<div class='card'>
  <h2 class='card-header'>Create New Post</h2>
  <form class='card-body' id='new-post-form'>
    <input type='hidden' name='post-id' value='{{post.id}}' />
    <div>
      <label class='form-label'>Title:</label>
      <input class='form-input' type='text' name='post-title' />
    </div>
    <div>
      <label class='form-label'>Content:</label>
      <textarea
        id='post_text'
        class='form-textarea form-input'
        name='post_text'
        data-number='8'
      ></textarea>
    </div>

    <button class='btn btn-primary'>CREATE</button>
  </form>
</div>
<script src='/js/addpost.js'></script>
<script src='/js/comment.js'></script>